<main
  class="hero min-h-screen"
  style="background-image: url(/assets/pathogenos-bg.jpg)"
>
  <div class="hero-overlay"></div>
  <!--  -->
  <section class="flex flex-col items-center justify-center align-middle gap-2">
    <app-card-question #cardQuestionComponent />
    <button
      class="btn btn-primary w-full xs:w-sm sm:w-md md:w-lg lg:w-xl"
      (click)="openModal()"
    >
      Enviar respuesta
    </button>
  </section>
</main>

<!-- Modal de confirmación -->
<app-confirmation-modal
  [showModal]="showModal()"
  [unansweredQuestions]="unansweredQuestions"
  (closeModal)="closeModal()"
  (submitTest)="submitTest()"
/>
